<div fxLayout="column" fxLayoutAlign="start stretch" class="dialog-width">
  <mat-toolbar color="primary" class="navigation-text-color">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <div>Фото профілю</div>
      <button mat-icon-button (click)="close()">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div fxLayout="column" fxLayoutAlign="center stretch"
       class="p-12">

    <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="1 1 50" fxFlex.lt-lg="1 1 auto"
         fxLayout.xs="column" fxLayoutAlign.xs="start stretch"
         class="dnd-container mt-4 mb-8"
         *ngIf="!userProfile.image && !file">
      <drag-and-drop-file (fileDropped)="filesUploaded($event)"
                          (fileOver)="isFileOver = $event"
                          accept="image/*"
                          class="w-100-p h-100-p">
        <div class="dnd-file-upload w-100-p h-100-p"
             [class.dnd-file-over]="isFileOver"
             fxLayout="column" fxLayoutAlign="center center">

          <div class="dnd-file-icon">
            <mat-icon>cloud_upload</mat-icon>
          </div>
          <div class="dnd-upload-text mt-8"
               *ngIf="!isFileOver">
            Завантажте файл
          </div>

        </div>
      </drag-and-drop-file>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="mb-8" *ngIf="userProfile.image">
      <img class="profile-img" src="{{userProfile.image.link}}" />
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="h-200" *ngIf="isChanged">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">

      <button mat-raised-button color="primary" class="navigation-text-color"
              *ngIf="userProfile.image"
              (click)="deleteProfilePhoto()">
        Видалити
      </button>

      <button mat-button type="button"
              (click)="close()">
        Відмінити
      </button>

    </div>
  </div>
</div>

