@import 'src/app.theme.scss';

.example-container {
  .mat-table {
    overflow: auto;
    width: 100%;

    .lt-lg-name-box {
      @include media-breakpoint('lt-lg') {
        width: 200px !important;
      }
    }

    .lt-lg-dsc-box {
      @include media-breakpoint('lt-lg') {
        width: 200px !important;
      }
    }
  }
}

.custom-tool-tip-box {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 200px !important;
  border-bottom: 5px solid;
  border-color: mat-color($primary);
  border-radius: 5px;

  @include media-breakpoint('xs') {
    background-size: 150px !important;
    width: 150px;
    height: 150px;
  }

  @include media-breakpoint('gt-md') {
    top: 8%;
    background-size: 250px !important;
    width: 250px;
    height: 250px;
  }
}

.preview-tool-tip-btn {
  background-color: mat-color($primary);
  padding: 4px 12px;
  font-weight: 500;
  color: white;
  border: none;
  border-radius: 3px;
  outline: none;
  -webkit-appearance: none;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
